
.logo{
	height: 15vh;
	background-color:red;

}
.logo p{
	font-size: 13vh;
	color: white;
	text-align: center;
	padding: 3.6vh;
	font-family: "Ramaraja";
}
.wrapper {
	display: flex;	
	height: 5vh;
	justify-content: center;
  align-items: center;
	background-color: red;
	color: white;
}
.wrapper_pos{
  position: fixed;
	width: 100%;
	top: 95vh;
}

